# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env

# Node/React (si tu frontend está en la misma carpeta del repo)
node_modules/
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Docker
*.log
